body {
    background-color: #f7f1f1;
}

h1 {
    font-family: Didot, serif;
    font-size: 80px;
    font-weight: 900;
}

h3 {
    color: rgb(216, 204, 204);
}

h4 {
    color: rgb(216, 204, 204);
    font-size: 10px;
}